# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Large datasets and processed artifacts
data/
artifacts/
*.wav
*.pth
*.pt
*.ckpt

# macOS
.DS_Store

# IDE
.vscode/
.idea/
